In [1]:
#импортируем необходимые библиотеки
import pandas as pd
import numpy as np

In [61]:
# импортируем данные из файла "task", создаем 3 дата фрейма
df_task = pd.read_excel('Task.xlsx', sheet_name = 'task',skiprows = [1])
df_call = pd.read_excel('Task.xlsx', sheet_name = 'call',skiprows = [1])
df_result_pr = pd.read_excel('Task.xlsx', sheet_name = 'result_product',skiprows = [1])

In [35]:
df_task.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23119 entries, 0 to 23118
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   task_id         23119 non-null  int64
 1   hid             23119 non-null  object
 2   finish_dt_task  23119 non-null  datetime64[ns]
 3   base_id         23119 non-null  int64
 4   task_result_id  23119 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 903.2+ KB

In [36]:
df_call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39598 entries, 0 to 39597
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   task_id         39598 non-null  int64
 1   call_id         39598 non-null  object
 2   agent_name      39598 non-null  object
 3   call_dt         39598 non-null  datetime64[ns]
 4   call_result_id  39598 non-null  int64
 5   Unnamed: 5      39598 non-null  object
 6   call_time_sec   39598 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 2.1+ MB

In [37]:
df_result_pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5999 entries, 0 to 5998
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hid              5999 non-null   object
 1   product_type_cd  5999 non-null   object
 2   approve_dt       3724 non-null   datetime64[ns]
 3   reject_dt        2264 non-null   datetime64[ns]
 4   using_dt         1961 non-null   datetime64[ns]
dtypes: datetime64[ns](3), object(2)
memory usage: 234.5+ KB

In [45]:
df_result_pr

,hid,product_type_cd,approve_dt,reject_dt,using_dt
0,0004c6142b4bf98fdb51ec0fead099b0,INV,2020-05-21,NaT,NaT
1,0008ddccf50e9a72ee9c6223fb45e4c4,INV,2020-05-29,NaT,NaT
2,000a2e5621a118118f42560c9821e6a1,INV,2020-04-27,NaT,2020-04-29
3,001a43fffa79a5b60c01473eeff9fd1f,INV,NaT,2020-04-01,NaT
4,001c27126f4fd13cc4126d4906c48425,INV,2020-05-06,NaT,NaT
...,...,...,...,...,...
5994,ffd2fd672444a27d03dbe426552502d5,INV,2020-05-24,NaT,2020-05-26
5995,ffd6cb7cef830393c9364ab42013f319,INV,2020-05-07,NaT,NaT
5996,ffe59b26f8c20e68ef921abdcd3532b8,INV,NaT,2020-06-05,NaT
5997,ffef7d941cae9d2aa8416f657f41109f,INV,2020-05-12,NaT,NaT
5998,fff11f06fd53c41904c42b51bc7749a3,INV,2020-04-13,NaT,2020-04-30

In [40]:
# в датафрейме df_task все значения task_id уникальны
df_task.task_id.value_counts()

843083337    1
911236643    1
911229236    1
911226584    1
911223840    1
            ..
887048646    1
887039136    1
887034762    1
887033327    1
933065058    1
Name: task_id, Length: 23119, dtype: int64

In [42]:
# в дата фрейме df_call показатель  task_id неуникален
df_call.task_id.value_counts()

873713374    14
869534692    13
929387253    11
874484093    10
860081782    10
             ..
896017602     1
896018446     1
896023320     1
896027504     1
933065058     1
Name: task_id, Length: 23119, dtype: int64

In [46]:
# в датафрейме df_task все значения hid уникальны
df_task.hid.value_counts()

36d2f49fc49f572677416d54536a41c6    1
658729d4a601e2378b8ac2b08d080545    1
692c721b62f348c4384335eacd46dde8    1
b8812cea323dd50672305d5699f53b0e    1
1f801a75c036c6af1f2d567fd5ca73da    1
                                   ..
7e256d08d19b6aaac1213958c7cd6fb4    1
6e7896ea8cbc19c9f41d6056f5d09f2d    1
74d4b3a2f191fba3fdab78513acf7b11    1
712b975e07b05a58b1fcfb188bf61bfa    1
1242029bded20eb92ffa31fd749d7ee4    1
Name: hid, Length: 23119, dtype: int64

In [62]:
# т.к при импорте данных для датафрейма df_call название показателя "Название результата звонка"
# не отображается, мы его переименуем
df_call = df_call.rename(columns={"Unnamed: 5": "call_result_translation"})

# Задание 1

### Самая болшая база это df_call, к которой мы будем присоединять с помощью метода merge df_task по колонне task_id, затем объеденим словари с основной таблицей
### Так же видим, что уникальных значениий task_id в датафреймах df_call и df_task равное кол-во, поэтому применим метод inner при объединении, что бы еще раз проверить.

In [63]:
# объеденяем датафрейм df_call c df_task
df1 = df_call.merge(df_task, left_on = "task_id", right_on = "task_id",how='inner')

In [64]:
#Кол-во наблюденийне не изменилось
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39598 entries, 0 to 39597
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   task_id                  39598 non-null  int64
 1   call_id                  39598 non-null  object
 2   agent_name               39598 non-null  object
 3   call_dt                  39598 non-null  datetime64[ns]
 4   call_result_id           39598 non-null  int64
 5   call_result_translation  39598 non-null  object
 6   call_time_sec            39598 non-null  int64
 7   hid                      39598 non-null  object
 8   finish_dt_task           39598 non-null  datetime64[ns]
 9   base_id                  39598 non-null  int64
 10  task_result_id           39598 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(4)
memory usage: 3.6+ MB

In [65]:
#создаем словарь для расшифровки результатов задания
dict_task_result = {6:"Успешно", 5:"Отказ", 3:"Недозвон", 1:"Дубль", 4:"Неуспешно из-за другой заявки",
                    7:"Черный список", 2:"Не было звонка"}

#создаем новую колонку с рашифровкой
df1['task_result_translation'] = df1['task_result_id'].map(dict_task_result)

In [68]:
#создаем словарь для расшифровки баз данных
dict_base = {7553:"База 1", 3145:"База 2", 3445:"База 3", 7554:"База 4"}

#создаем новую колонку с рашифровкой
df1['base_translation'] = df1['base_id'].map(dict_base)

In [69]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39598 entries, 0 to 39597
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   task_id                  39598 non-null  int64
 1   call_id                  39598 non-null  object
 2   agent_name               39598 non-null  object
 3   call_dt                  39598 non-null  datetime64[ns]
 4   call_result_id           39598 non-null  int64
 5   call_result_translation  39598 non-null  object
 6   call_time_sec            39598 non-null  int64
 7   hid                      39598 non-null  object
 8   finish_dt_task           39598 non-null  datetime64[ns]
 9   base_id                  39598 non-null  int64
 10  task_result_id           39598 non-null  int64
 11  task_result_translation  39598 non-null  object
 12  base_translation         39598 non-null  object
dtypes: datetime64[ns](2), int64(5), object(6)
memory usage: 4.2+ MB

###  Словарь для call_result_id создавать не нужно т.к. перевод уже есть настоящем датафрейме

In [74]:
df_final_merge = df1.merge(df_result_pr, how = "left", left_on="hid", right_on="hid")

In [78]:
#выводим на экран объединенную таблицу
display(df_final_merge)

,task_id,call_id,agent_name,call_dt,call_result_id,call_result_translation,call_time_sec,hid,finish_dt_task,base_id,task_result_id,task_result_translation,base_translation,product_type_cd,approve_dt,reject_dt,using_dt
0,843083337,6645916908#16711160876,sakungurceva,2020-03-01,6,"Дозвон, Отложить",298,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,Успешно,База 1,INV,NaT,2020-04-22,NaT
1,843083337,6750206063#16711160876,sakungurceva,2020-03-17,6,"Дозвон, Отложить",9,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,Успешно,База 1,INV,NaT,2020-04-22,NaT
2,843083337,6769109629#16711160876,sakungurceva,2020-03-24,6,"Дозвон, Отложить",111,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,Успешно,База 1,INV,NaT,2020-04-22,NaT
3,843083337,6890964670#16711160876,sakungurceva,2020-04-15,5,Недозвон,7,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,Успешно,База 1,INV,NaT,2020-04-22,NaT
4,843083337,6926247810#16711160876,lapleshivenkova,2020-04-15,3,"Дозвон, Успешно",1329,36d2f49fc49f572677416d54536a41c6,2020-04-15,7553,6,Успешно,База 1,INV,NaT,2020-04-22,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39593,933035272,7124347282#18483260522,aztrofimova,2020-05-30,5,Недозвон,0,9a2d6dd8ff0a11bdc7a65c8ded5d6d92,2020-05-30,7553,1,Дубль,База 1,NaN,NaT,NaT,NaT
39594,933040837,7123998330#18480990905,aztrofimova,2020-05-30,5,Недозвон,9,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5,Отказ,База 4,NaN,NaT,NaT,NaT
39595,933040837,7124519269#18480990905,zadenis,2020-05-30,1,"Дозвон, Отказ",41,3c682df2f35ed1dc634501b4b7ae25fe,2020-05-30,7554,5,Отказ,База 4,NaN,NaT,NaT,NaT
39596,933042718,7124237815#18482537123,npmoskalenko,2020-05-30,1,"Дозвон, Отказ",138,d6262e2d5840a2e68fcf028c9732606c,2020-05-30,7553,5,Отказ,База 1,NaN,NaT,NaT,NaT
39597,933065058,7123061624#18471818019,dakupriyanov,2020-05-30,3,"Дозвон, Успешно",276,1242029bded20eb92ffa31fd749d7ee4,2020-05-30,7553,6,Успешно,База 1,INV,2020-05-30,NaT,NaT

In [76]:
df_result_pr

,hid,product_type_cd,approve_dt,reject_dt,using_dt
0,0004c6142b4bf98fdb51ec0fead099b0,INV,2020-05-21,NaT,NaT
1,0008ddccf50e9a72ee9c6223fb45e4c4,INV,2020-05-29,NaT,NaT
2,000a2e5621a118118f42560c9821e6a1,INV,2020-04-27,NaT,2020-04-29
3,001a43fffa79a5b60c01473eeff9fd1f,INV,NaT,2020-04-01,NaT
4,001c27126f4fd13cc4126d4906c48425,INV,2020-05-06,NaT,NaT
...,...,...,...,...,...
5994,ffd2fd672444a27d03dbe426552502d5,INV,2020-05-24,NaT,2020-05-26
5995,ffd6cb7cef830393c9364ab42013f319,INV,2020-05-07,NaT,NaT
5996,ffe59b26f8c20e68ef921abdcd3532b8,INV,NaT,2020-06-05,NaT
5997,ffef7d941cae9d2aa8416f657f41109f,INV,2020-05-12,NaT,NaT
5998,fff11f06fd53c41904c42b51bc7749a3,INV,2020-04-13,NaT,2020-04-30